*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: black;
    width: 30%;
    height: 30%;
}
span{
    font-size: 3rem;
    color: white;
}